/* 
    Created on : 19.04.2015, 18:07:05
*/

body {
    font-family: "PT Sans", "Open Sans", sans-serif;
}

div#info {
    background: black;
    color: gold;
}

div.message {
    overflow: hidden;
    min-width: 300px;
}

div.message.selected {
    border: 2px solid crimson;
}

div.message div.message,
div.message div.message .messageText {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

div.message div.message {
    width: 100%;
}

.message-pic {
    float: left;
    margin: 5px;
    box-shadow: 0 0 5px black;
    max-width: 90%;
    /*background: white;*/
}

.message-pic[src=""] {
    display: none;
}

a.msg_ref {
    color: #a30;
    cursor: pointer;
    text-decoration: none;
}

.spoiler {
    color: black;
    background: black;
}

.spoiler:hover {
    background: transparent;
    color: inherit;
}

.message-title {
    font-weight: bold;
}

.message-title:not(:empty)::before {
    content: "«";
}

.message-title:not(:empty)::after {
    content: "»";
}

.message-name:not(:empty)::before {
    content: " by ";
}

.message-name:empty::before {
    content: " by Anonymous";
}

a.orig-thread[href="#"] {
    display: none;
}

a {
    cursor: pointer;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
}


/* Menu: */

ul.ul-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.ul-menu li {
    background: rgba(255, 255, 255, 0.9);
    margin: 2px;
    display: none;
    cursor: pointer;
}

ul.ul-menu li:hover {
    background: white;
    font-weight: bold;
}

ul.ul-menu li ul {
    display: none;
}

ul.ul-menu li:hover ul,
ul.ul-menu:hover li {
    display: block;
}